[submodule "AestraAudio/External/vst3sdk"]
	path = AestraAudio/External/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "AestraPlugins"]
	path = AestraPlugins
	url = git@github.com:currentsuspect/AestraPlugins.git
[submodule "AestraAudio/External/clap"]
	path = AestraAudio/External/clap
	url = https://github.com/free-audio/clap.git
